# Токен для бота, полученный от @BotFather
BOT_TOKEN = "token"

# Ключ, полученный от API по адресу https://rapidapi.com/hub/
RAPID_API_KEY = "rapid key"

# Ключ, полученный от API по адресу https://geocode.maps.co/account/
GEOCODE_API_KEY = "geocode key"

# Ключ, полученный от API по адресу https://www.weatherapi.com/my/
WEATHER_API_KEY = "weather key"

# Ключ, полученный от API по адресу https://yandex.ru/dev/keys/
YANDEX_DICT_API_KEY = "yandex key"

# Host, Port, Password for Redis
REDIS_HOST = "host"
REDIS_PORT = "port"
REDIS_PASSWORD = "password"

